.actions {
   justify-content: center;
   align-items: center;

   .select-row {
      // appearance: none;
      aspect-ratio: 1;
      height: 22px;
      width: 23px;
      outline: 2px solid $c6;
      outline-offset: -2px;
      background: $c3;
      cursor: pointer;
   }
}