$c1: #001C30;
$c2: #DAFFFB;
$c3: #2E4F4F;
$c4: #a9f3fd;
$c5: #176B87;
$c6: #da983c;

$success-color: #4CAF50;
$warning-color: #FF9800;
$error-color: #F44336;
$background-color: #FAFAFA;
$text-color: #212121;

$primary-color: #5885AF;
$secondary-color: #41729F;
$highlight-color: #0e052a;
$row-odd-color: #f5f5f57f;
$row-even-color: #F5F5F5;
$table-header-color: #274472;
$table-border-color: #C3E0E5;
$table-footer-color: #116530;







$c-success: #026600;
$c-danger: #9C0000;

$mobile-size: 700px;

$lg1: linear-gradient(135deg, #02afc5, #35c9dd, #87d1db, #a9f3fd, #4cb5c3);