.form {
   flex-direction: column;
   gap: 1em;
   padding: 1em;

   .error {
      text-align: center;
      color: $c-danger;
      height: 1.5em;
   }
   input {
      background: $c5;
      padding: 0.25em 0.5em;
      border-radius: 15px;
      font-size: 1.1em;
      font-weight: 400;
      min-height: 25px;
   }
   
   .input {
      position: relative;
      justify-content: space-between;
      align-items: baseline;
   
      >* {
         flex: 1;
      }
   
      label {
         color: $c6;
      }
   }
}