.form {
   flex-direction: column;
   gap: 1em;
   padding: 1em;

   .error {
      text-align: center;
      color: $c-danger;
      height: 1.5em;
   }



   .input-field {
      position: relative;
      justify-content: space-between;
      align-items: baseline;

      .multi-select {
         flex-direction: column;
         background: $c5;
         padding: 0.5em;

         .multi-select-item {
            justify-content: space-between;
            align-items: center;
         }
      }


      label {
         color: $c6;
         flex: 1;
      }

      .input-item {
         width: 0%;
         flex-basis: 75%;
      }
   }
}