.header {
   height: 10vh;
   background: $secondary-color;
   padding: 1em 2em;
   justify-content: space-between;

   .logo {
      max-width: 200px;
   }

   .nav {
      flex: 1;
      gap: 1em;
      justify-content: flex-end;

      .link {
         display: flex;
         align-items: center;
         color: white;
         font-size: 1.1em;
         font-weight: 600;
         text-decoration: none;
         &.active {
            text-decoration: underline;
            text-underline-offset: 0.2em;
         }
      }
   }
}