.table-container {
   height: 100%;
   overflow: auto;
   z-index: 0;
   position: relative;
   flex: 1;
}

table {
   width: 100%;
   border-collapse: collapse;
   height: fit-content;
}

tbody tr {
   background: $c1;
   position: relative;
}

thead {
   position: sticky;
   top: 0;
   z-index: 1;
   background: $c4;
}


th,
td {
   padding: 1em 0.5em;
   white-space: nowrap;
   text-align: center;
}



